.container_for_map {
    top: 0px;
    left: 0px;
    height: 640px;
    width: 960px;
    border: 1px solid Red;
    position: relative;
}

img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.myDiv {
    height: 100px;
    width: 100px;
    border: 2px solid Red;
}
.input_for_coordinate{
    width: 100px;
}

.box_for_print_coordinats {
    top: 0px;
    left: 965px;
    border: 1px solid Red;
    height: 50px;
    width: 250px;
    position: absolute;
}

.road_config{
    position: absolute;
}